<%- include('../partials/header.ejs') %>
<body class="w-screen h-screen flex flex-col bg-neutral-900 font-sans pt-16">
	<% if(cheeses.length > 0) { %>
	<main class="w-screen overflow-auto bg-neutral-900 text-white mb-10">
		<div class="flex flex-row items-center justify-center">
			<h2 class="text-amber-100 text-4xl font-bold">Welcome, <%= user.firstName %> <%= user.lastName %></h2>
		</div>
		<div class="grid grid-cols-4 gap-4 p-6 items-center">
			<% cheeses.forEach(cheese => { %>
			<a href="/listing/item/<%= cheese.id %>" class="w-full">
				<article class="bg-slate-100 border-4 rounded-lg border-neutral-950 overflow-hidden">
					<div class="aspect-square w-full relative">
						<img
							src="<%= cheese.image %>"
							alt="<%= cheese.title %>"
							class="absolute inset-0 w-full h-full object-cover"
						/>
					</div>
					<div class="flex flex-col bg-neutral-950 p-1">
						<div>
							<h3 class="text-xl"><%= cheese.title %></h3>
							<p class="text-sm text-gray-500"><%= cheese.condition %></p>
						</div>
						<div class="flex flex-row justify-between">
							<p class="text-amber-200">$<%= cheese.price %></p>
							<p><%= cheese.totalOffers %> offers</p>
						</div>
					</div>
				</article>
			</a>
			<% }) %>
		</div>
	</main>
	<% } else { %>
	<div class="flex flex-col justify-center items-center w-full h-full">
		<div class="w-1/2 h-1/2 flex flex-col items-center gap-4">
			<h1 class="text-amber-300 text-4xl font-bold text-center">You have not created any stories</h1>
		</div>
	</div>

	<% } %>
</body>
<%- include('../partials/footer.ejs') %>
